/* src/Pages/Home/Home.css */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh; /* Full viewport height */
  margin: 0 auto;
  overflow: hidden; /* Prevent content from overflowing */
}

.parallax-layer {
  display: flex;
  align-items: center;
  justify-content: center;
}