/* src/Pages/Home/Home.css */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Full width */
  padding: 20px; /* Add spacing */
  margin: 0 auto; /* Center the container */
  max-width: 1200px; /* Optional: Limit max width */
  overflow: hidden; /* Prevent content overflow */
}
.parallax-layer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .parallax-layer {
    overflow-y: scroll; /* Enable vertical scrolling for mobile screens */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    width: 100vw;
    height: auto; /* Allow height to adjust dynamically */
  }

  .title, .about {
    padding: 20px;
    max-width: 90%; /* Ensure content scales */
    margin: auto;
  }

  .home-container,
  .projects-container {
    padding-bottom: 30px; /* Ensure there's space for scrolling */
  }
}