.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background-color: #f0f4f8;
    margin-top:60px;
    background-image: url('./assets/homebackground.jpg'); /* Path to your image */
  }

  .about-content {
    display: flex;
    justify-content: space-between; /* Space between text and image */
    align-items: center;
    background: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    max-width: 1000px;
    width: 100%;
    margin-bottom: 40px;
  }
  
  .profile-picture {
    width: 200px; /* Increased size */
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px; /* Ensure it’s spaced from the content */
  }
  
  
  .summary {
    flex: 1; /* Allow text content to take the remaining space */
    max-width: 600px;
  }
  
  .summary h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .summary p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555;
  }
  
  .resume-section {
    background: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    max-width: 1000px;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .resume-section h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 15px;
  }
  
  .experience, .project {
    margin-bottom: 20px;
  }
  
  .experience h3, .project h3 {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 5px;
  }
  
  .experience p, .project p {
    font-size: 1em;
    line-height: 1.5;
    color: #777;
  }
  
  .skills-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .skills-list li {
    background: #eee;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 1em;
    color: #555;
  }

  .language-item {
    display: flex;
    align-items: center;
    gap: 10px; /* Add spacing between the icon and text */
    font-size: 1.1em;
  }
  
  .language-item svg {
    font-size: 1.5em; /* Adjust the size of the icon */
  }